@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
pre,
button,
li {
  letter-spacing: -0.4px;
  line-height: 120%;
}
.toastui-editor-contents p {
  font-size: 16px;
  line-height: 150%;
}

.toastui-editor-main-container {
  font-size: 16px;
  line-height: 150%;
}

@media only screen and (max-width: 480px) {
  .toastui-editor-popup {
    max-width: 300px;
    margin-left: 0px !important;
  }
}

@layer utilities {
  a,
  button {
    @apply cursor-pointer;
  }

  input[type="file"] {
    @apply text-gray-2;
  }

  .pointer {
    @apply block w-0 h-0 absolute bottom-[-18px] right-[calc(50%-7px)] border-[10px] border-x-[7px] border-transparent border-t-red-5;
  }

  .must_post_card:hover .sub {
    @apply border-main-7;
  }

  .must_post_card:hover .sub span {
    @apply text-main-7;
  }

  .custom_scrollbar {
    @apply [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-track]:bg-white [&::-webkit-scrollbar-thumb]:bg-main-7;
  }
}

.input-placeholder::placeholder {
  display: inline;
  color: theme("colors.gray.4");
  font-size: 14px;
}
/* const variantInputStyles = {
  default:
    // "w-full px-[15px] py-[11px] border border-gray-1 bg-gray-1 text-xs md:text-[14px] text-gray-6 outline-none rounded-lg transition",
    "px-[15px] py-[11px] border border-gray-1 bg-gray-1 md:text-[14px] rounded-lg transition",
  underline:
    // "w-full border-b border-gray-4 py-[7px] text-xs md:text-base text-gray-6 outline-none",
    "border-b border-gray-4 py-[7px] md:text-base",
}; */
